//Style pour la page Erreur 404
.error {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-primary;
    &__title {
        font-size: 300px;
        margin: 0px;
    }
    &__text {
        margin: 0px;
        font-size: 36px;
        margin-bottom: 170px;
    }
    &__link {
        color: $color-primary;
        margin: 0px;
        font-size: 20px;
        margin-bottom: 110px;
    }
}

//Style responsive pour la page Erreur 404

@include responsive() {
    .error {
        height: auto;
        &__title {
            font-size: 100px;
            margin-top: 100px;
        }
        &__text {
            font-size: 18px;
            text-align: center;
            width: 75%;
            margin-bottom: 100px;
            margin-top: 20px;
        }
        &__link {
            font-size: 15px;
            margin-bottom: 50px;
        }
    }
}
