//Style pour la partie "images plein écran" de la page informations sur un logement.
.big-image-dwelling {
    position: fixed;
    top: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    &__picture {
        position: relative;
        max-height: 65%;
        max-width: 65%;
        object-fit: cover;
    }
    &__left-button {
        position: absolute;
        rotate: 180deg;
        left: 10%;
    }
    &__right-button {
        position: absolute;
        left: 87%;
    }
    &__croix {
        position: absolute;
        z-index: 5;
        height: 50px;
        top: 5%;
        right: 5%;
    }
}

//Style responsive pour la partie "images plein écran" de la page d'informations sur un logement
@include responsive() {
    .big-image-dwelling {
        &__picture {
            max-height: 70%;
            max-width: 70%;
        }
        &__left-button {
            height: 30px;
            left: 5%;
        }
        &__right-button {
            height: 30px;
            left: 90%;
        }
        &__croix {
            height: 20px;
            top: 5%;
        }
    }
}
