//Style pour la partie images de la page infromations sur un logement.
.image-dwelling__container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.image-dwelling {
    position: relative;
    height: 416px;
    width: 90%;
    display: flex;
    &__picture {
        position: absolute;
        height: 415px;
        width: 100%;
        object-fit: cover;
        object-position: 50%;
        border-radius: 30px;
    }
    &__left-button {
        position: absolute;
        height: 100px;
        rotate: -180deg;
        margin-top: 158px;
        margin-left: 1%;
        width: 3.5%;
    }
    &__right-button {
        position: absolute;
        height: 100px;
        margin-top: 158px;
        margin-left: 95.5%;
        width: 3.5%;
    }
}

//Style responsive pour la partie images de la page d'information sur un logement
@include responsive() {
    .image-dwelling {
        height: 255px;
        &__picture {
            height: 255px;
            border-radius: 15px;
        }
        &__left-button {
            margin-top: 115px;
            height: 25px;
            margin-left: 3%;
        }
        &__right-button {
            margin-top: 115px;
            height: 25px;
            margin-left: 92.5%;
        }
    }
}
