//Varaibles contenant les valeurs principales présentent sur le site.
$color-primary: #ff6060;

$breakpoint-mobile: 700px;

//variables Header
$size-links-header: 24px;
$size-min-width-header: 300px;
$size-image-header: 300px;
