//Style pour un élément de présentation d'un logement de la page d'accueil.
.dwelling_container {
    width: 90%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f6f6f6;
    margin-top: 50px;
    border-radius: 30px;
}

.itemPresentation {
    cursor: pointer;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: $color-primary;
    width: 400px;
    height: 400px;
    margin: 40px;
    font-size: 15px;
    color: white;
    border-radius: 15px;
    box-sizing: border-box;
    text-decoration: none;
    &__image {
        width: 90%;
        height: 240px;
        object-fit: cover;
        border-radius: 15px 15px 0px 0px;
        margin-top: 15px;
    }
    &__title {
        z-index: 5;
        margin: 20px;
        width: 90%;
        height: 80px;
        font-weight: 400;
    }
    &::after {
        content: "";
        height: 100%;
        width: 100%;
        background: linear-gradient(white, black);
        opacity: 0.2;
        border-radius: 15px;
        position: absolute;
    }
}

//Style responsive pour un élément de présentation d'un logement de la page d'accueil.
@include responsive() {
    .dwelling_container {
        background-color: white;
        margin-top: 0px;
        padding: 0px;
    }

    .itemPresentation {
        width: 100%;
        height: 260px;
        min-width: none;
        margin: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        &__image {
            height: 150px;
        }
        &__title {
            font-size: 18px;
        }
    }
}
